<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="easyinvoicemanagement.com brings smart AP Invoice automation and new bill payment capabilities to your business. Harness intelligent technology to help streamline your payments process.">
<meta name="keywords" content="Intelligent Invoice Bill Payment Platform for Businesses | easyinvoicemanagement.com">
<link rel="shortcut icon" href="/static/favicon.png" />
<link href="/static/output.css" rel="stylesheet" />
<script defer src="https://unpkg.com/alpinejs@3.9.0/dist/cdn.min.js"></script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ERRXKP7LB2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ERRXKP7LB2');
</script>
