{% macro invoice_table(invoice_list) %}
<div x-data="{
    
}">
    <div class="mt-8 flex flex-col">
        <div class="-my-2 -mx-4 overflow-x-auto sm:-mx-6 lg:-mx-8">
            <div class="inline-block min-w-full py-2 align-middle md:px-6 lg:px-8">
                <div class="overflow-hidden shadow ring-1 ring-black ring-opacity-5 md:rounded-lg">
                    <table class="min-w-full divide-y divide-gray-300">
                        <thead class="bg-gray-50">
                            <tr>
                                <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Vendor</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Invoice No.</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Amount Due</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Status</th>
                                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Due Date</th>
                                <th scope="col" class="relative py-3.5 pl-3 pr-4 sm:pr-6">
                                    <span class="sr-only">View Invoice</span>
                                </th>
                            </tr>
                        </thead>
                        <tbody class="divide-y divide-gray-200 bg-white">
                            {% for invoice in invoice_list %}
                            <tr @click="document.location.href = '/invoices/{{invoice.id}}'" class="hover:bg-gray-100 hover:cursor-pointer">
                                <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">{{invoice.vendor_name}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{invoice.invoice_id}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{invoice.currency}}{{invoice.amount_due}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{invoice.status}}</td>
                                <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">{{invoice.american_due_date}}</td>
                                <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
                                    <a href="/invoices/{{invoice.id}}" class="text-indigo-600 hover:text-indigo-900">View<span class="sr-only">View Invoice</span></a>
                                </td>
                            </tr>
                            {% endfor %}

                            <!-- More people... -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endmacro %}