{% macro skinny_sidebar() %}
<!-- Needs to be in flex container -->
<nav aria-label="sidebar"
  class="hidden md:block md:flex-shrink-0 h-screen overflow-scroll md:bg-zinc-700 md:overflow-y-auto">
  <!-- Your Account Page -->
  <div class="relative w-20 flex flex-col p-3 space-y-3">
    <a href="/settings/account"
      class="text-zinc-400 hover:bg-zinc-800 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg">
      <span class="sr-only">Your Account</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 0 20 20" fill="currentColor">
        <path fill-rule="evenodd"
          d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-6-3a2 2 0 11-4 0 2 2 0 014 0zm-2 4a5 5 0 00-4.546 2.916A5.986 5.986 0 0010 16a5.986 5.986 0 004.546-2.084A5 5 0 0010 11z"
          clip-rule="evenodd" />
      </svg>
    </a>
  </div>

  <!-- Invoice Upload -->
  <div class="relative w-20 flex flex-col p-3 space-y-3">
    <a href="/home"
      class="text-zinc-400 hover:bg-zinc-800 flex-shrink-0 inline-flex items-center justify-center h-14 w-14 rounded-lg">
      <span class="sr-only">Upload Invoice</span>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="M4 16v1a3 3 0 003 3h10a3 3 0 003-3v-1m-4-8l-4-4m0 0L8 8m4-4v12" />
      </svg>
    </a>
  </div>
</nav>
{% endmacro %}