{% extends "components/sidebar-base.html" %}
{% from "components/invoices/query-menu.html" import query_menu %}
{% from "components/invoices/invoice-table.html" import invoice_table %}


{% block head %}
<title>Inbox | Easy Invoice Management</title>
{{ super() }}
{% endblock %}

{% block content %}
<main class="flex w-full">
    <div class="w-full h-screen p-8">
        <h2 class="font-extrabold text-3xl mb-5">Inbox</h2>
        {{ query_menu() }}

        {{invoice_table(invoices.values())}}
    </div>
</main>
{% endblock %}